body {
    background-color: #4cccec;
}

#sigma {
    height: 83.3vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #62a0af;
    border-top: 1px solid #6a6aeb;
}

h1 {
    background-color: transparent;
    text-align: center;
    color: #000;
    font-size: 3rem;
    margin: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        padding: 0 3%;
    }
}

.footer {
    font-size: 1.25rem;
    height: 11.5vh;
    padding: 0.5% 0;
}

.footer h4 {
    font-size: 1.5rem;
    margin-top: 0;
}

.footer__social {
    margin: 0;
}